*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    animation: bodyani 0.5s linear forwards;
    opacity: 0;
}

@keyframes bodyani{
    to{
        opacity: 1;
    }
}

::selection{
    background-color: whitesmoke;
    color: blue;
}

header{
    background: linear-gradient(90deg, rgba(99, 109, 247, 0.904) 0%, #5050fc 52%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 15px 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.m-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

.m-header h1{
    font-size: 25px;
    padding-left: 5px;
    font-weight: bold;
}

.m-header h1 a{
    text-decoration: none;
    color: rgb(235, 232, 232);
}

.m-header img{
    width: 70px;
    height: 70px;
}

/* nav bar styles start */

.navbar{
    width: 500px;
}

.nav-ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links{
    font-size: 18px;
    padding: 0 10px;
    margin-top: 10px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: rgb(50, 50, 73);
}

.nav-links:nth-child(1):hover,
.nav-links:nth-child(2):hover,
.nav-links:nth-child(3):hover{
    text-decoration: underline rgb(50, 50, 73);
}

.nav-links:last-child{
    border: 1px solid rgb(50, 50, 73);
    padding: 5px 15px;
    border-radius: 20px;
    transition: all 0.2s linear;
}

.nav-links:last-child:hover{
    background-color: rgb(100, 100, 255);
    transform: translateY(-5px);
}

.nav-links:last-child:active{
    background-color: rgb(85, 85, 192);
}

/* nav bar styles end */

/* main section styles start */

.main-section{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1c20f8d0;
    padding: 40px 0px;
}

.main-section .intro-text h1{
    font-size: 50px;
}

.main-section .intro-text{
    padding-left: 10px;
}

.main-section .intro-text h1 span{
    color: white;
}

.main-section .main-img{
    width: 500px;
    height: 500px;
}

.main-img img{
    width: 100%;
    height: 100%;
}

.intro-text a{
    padding: 15px 130px;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    color: black;
    transition: all 0.2s linear;
    font-weight: bold;
    z-index: 2;
}

.intro-text a:hover{
    background-color: rgb(206, 206, 206);
    transform: translateY(-5px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* main section styles end */

/* media query of index start */

/* media query of header section start */

@media only screen and (max-width:832px){
    header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .navbar{
        margin-top: 20px;
    }
}

/* media query of header section end */

/* media query of main section start */

@media only screen and (max-width:420px){
    .main-section .main-img{
        width: 100%;
        height: auto;
    }

    .main-section .intro-text h1{
        font-size: 40px;
    }

    .intro-text a{
        padding: 10px 90px;
    }

    .download-apps-sec-img div{
        width: 160px !important;
    }
}

@media only screen and (max-width:290px){
    .main-section .intro-text h1{
        font-size: 25px;
    }

    .intro-text a{
        padding: 10px 50px;
    }

    .build-your-future .build-your-future-header{
        font-size: 10px !important;
    }
}

@media only screen and (max-width:281px){
    .m-header h1{
        font-size: 20px;
    }

    .nav-links{
        font-size: 15px;
    }
}

/* media query of main section end */

/* media query of section 2 start */

@media only screen and (max-width:750px){
    .sec-2 .sec-2-box{
        width: 90% !important;
    }
}

@media only screen and (max-width:571px){
    .sec-2 .sec-2-box{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sec-2 .sec-2-box h1{
        margin-left: 0 !important;
    }

    .sec-2 .sec-2-box img{
        width: 40% !important;
    }
}

@media only screen and (max-width:400px){
    .sec-2 .sec-2-box h1{
        font-size: 20px;
    }

    .sec-2 .sec-2-box img{
        width: 50% !important;
    }
}

/* media query of section 2 end */

/* media query of responsive section start */

@media only screen and (max-width:600px) {
    .reponsive-sec .res-img-sec{
        width: 100% !important;
    }

    .reponsive-sec .responsive-sec-header{
        font-size: 25px !important;
    }

    .reponsive-sec h2{
        font-size: 20px;
    }

    .build-your-future img{
        width: 100% !important;
    }
}

@media only screen and (max-width:390px){
    .reponsive-sec .responsive-sec-header{
        font-size: 20px !important;
    }

    .reponsive-sec h2{
        font-size: 18px;
    }
}

/* media query of responsive section end */

/* media query of new to programming section start */

@media only screen and (max-width:500px){
    .new-to-prog-box{
        width: 90%;
    }

    .success-story-box img{
        width: 94% !important;
    }
}

/* media query of new to programming section end */

/* why-programming section media query start */

@media only screen and (max-width:470px){
    .why-programming-sec h1{
        font-size: 30px !important;
    }
}

@media only screen and (max-width:330px){
    .why-programming-sec h1{
        font-size: 25px !important;
    }

    .success-story-sec h1{
        font-size: 25px !important;
    }

    .success-story-sec h1 span{
        font-size: 30px !important;
    }

    .blog p{
        font-size: 16px !important;
    }
}

@media only screen and (max-width:1283px){
    .why-prog-card-1,
    .why-prog-card-2,
    .why-prog-card-3{
        width: 300px !important;
    }
}

@media only screen and (max-width:983px){
    .why-prog-card-1,
    .why-prog-card-2,
    .why-prog-card-3{
        width: 270px !important;
    }
}

@media only screen and (max-width:893px){
    .why-prog-card-1,
    .why-prog-card-2,
    .why-prog-card-3{
        width: 500px !important;
    }
}

@media only screen and (max-width:580px){
    .why-prog-card-1,
    .why-prog-card-2,
    .why-prog-card-3{
        width: 90% !important;
    }
}

/* why-programming section media query end */

/* help people section styles start */

@media only screen and (max-width:650px){
    .help-people-img-sec img{
        width: 95% !important;
    }
}

@media only screen and (max-width:780px){
    .help-people-sec .help-people-sec-header{
        font-size: 28px !important;
    }
}

@media only screen and (max-width:490px){
    .help-people-sec .help-people-sec-header{
        font-size: 24px !important;
    }
}

@media only screen and (max-width:370px){
    .help-people-sec .help-people-sec-header{
        font-size: 18px !important;
    }
}

/* help people section styles end */

/* success story section styles start */

@media only screen and (max-width:810px){
    .success-story-box{
        width: 100% !important;
    }
}

@media only screen and (max-width:274px){
    .success-story-sec h1{
        font-size: 22px !important;
    }
}

/* success story section styles end */

/* build your future section media query start */

@media only screen and (max-width:383px){
    .build-your-future .build-your-future-header{
        font-size: 32px !important;
    }
}

/* build your future section media query start */

/* media query of blog section start */

@media only screen and (max-width:941px){
    .our-blogs h1{
        text-align: center;
        padding-left: 0 !important;
    }
}

@media only screen and (max-width:306px){
    .build-your-future .build-your-future-header{
        font-size: 26px !important;
    }
}

/* media query of blog section end */

/* become an instructor sec media query start */

@media only screen and (max-width:1099px){
    .becomne-an-instructor-img{
        width: 500px !important;
    }
}

@media only screen and (max-width:899px){
    .becomne-an-instructor-text{
        align-items: center !important;
        justify-content: center !important;
        text-align: center;
    }

    .becomne-an-instructor-img{
        width: 100% !important;
    }
}

@media only screen and (max-width:425px){
    .becomne-an-instructor-text h2{
        font-size: 24px !important;
    }
}

@media only screen and (max-width:280px){
    .becomne-an-instructor-text h2{
        font-size: 20px !important;
    }

    .becomne-an-instructor-text p{
        font-size: 14px !important;
    }
}

/* become an instructor section media query end */

/* media query of index end */

/* section 2 styles start */

.sec-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
}

.sec-2 .sec-2-box{
    width: 700px;
    border: 5px solid rgb(75, 75, 247);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
}

.sec-2 .sec-2-box img{
    width: 30%;
}

.sec-2 .sec-2-box h1{
    margin-left: 30px;
    text-align: center;
    font-weight: 598;
}

/* section 2 styles end */

/* responsive sec styles start */

.reponsive-sec{
    background-color: rgb(75, 75, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.reponsive-sec .responsive-sec-header{
    font-size: 35px;
    text-align: center;
    font-weight: 580;
}

.reponsive-sec h2{
    font-weight: 550;
    text-align: center;
}

.reponsive-sec .res-img-sec{
    width: 600px;
    height: auto;
}

.reponsive-sec .res-img-sec img{
    width: 100%;
    height: 100%;
}

.download-apps-sec{
    margin-top: 20px;
}

.download-apps-sec-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.download-apps-sec-img div{
    width: 200px;
    margin-top: 20px;
}

.download-apps-sec div a img{
    width: 100%;
    height: auto;
}

.download-apps-sec div:nth-child(1){
    margin-right: 4px;
}

.download-apps-sec div:nth-child(2){
    margin-left: 4px;
}

/* responsive sec styles end */

/* why programming section styles start */

.why-programming-sec{
    padding: 80px 0;
}

.why-programming-sec h1{
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

.why-programming-sec h1 span{
    animation: why-prog-header-ani 1s cubic-bezier(.53,.51,.53,.51) infinite;
    opacity: 0;
}

@keyframes why-prog-header-ani{
    to{
        opacity: 1;
    }
}

.why-prog-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.why-prog-card-1,
.why-prog-card-2,
.why-prog-card-3{
    border: 4px solid #5050fc;
    width: 400px;
    border-radius: 10px;
    margin: 10px;
}

.why-prog-card-img{
    width: 100%;
}

.why-prog-card-img img{
    width: 100%;
    border-radius: 10px;
}

.why-prog-card-body{
    padding: 8px;
}

.why-prog-card-body h3{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.why-prog-card-body p{
    text-align: center;
    font-weight: 500;
}

/* why programming section styles end */

/* new to programming section styles start */

.new-to-programming{
    background-color: #5050fc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
}

.new-to-prog-box img{
    width: 60%;
}

.new-to-programming .new-to-prog-box{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    border-radius: 20px;
    width: 550px;
}

.new-to-prog-box h3{
    font-weight: 590;
    font-size: 25px;
}

.new-to-prog-box h3:last-child{
    font-size: 20px;
}

.new-to-prog-box h3 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.new-to-prog-box h3 a:hover{
    text-decoration: underline;
}

/* new to programming section styles end */

/* help people section styles start */

.help-people-sec .help-people-sec-header{
    font-size: 35px;
    text-align: center;
    padding: 80px 6px;
    font-weight: 599;
}

.help-people-img-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-people-img-sec img{
    width: 600px;
}

/* help people section styles end */

/* success story section start */

.success-story-sec{
    background-color: #5050fc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 8px;
}

.success-story-sec h1{
    text-align: center;
    font-size: 30px;
    font-weight: 599;
}

.success-story-sec h1 span{
    font-size: 40px;
    color: white;
}

.success-story-box{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.success-story-sec img{
    width: 70%;
}

.success-story-box p{
    text-align: center;
    margin-top: 20px;
    padding: 0 8px;
}

.success-story-box h3{
    font-weight: 550;
    margin-top: 30px;
}

/* success story section end */

/* build your future section start */

.build-your-future{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
}

.build-your-future .build-your-future-header{
    font-size: 40px;
    text-align: center;
    font-weight: 599;
}

.build-your-future p{
    font-size: 18px;
    transition: all 0.2s linear;
}

.build-your-future p:hover{
    transform: translateY(-5px);
}

.build-your-future p a:hover{
    background-color: rgba(0, 0, 0, 0.13);
}

.build-your-future p a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 30px;
    border-radius: 20px;
}

.build-your-future img{
    width: 600px;
}

/* build your future section end */

/* becomne-an-instructor section start */

.becomne-an-instructor-sec{
    background-color: #5050fc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0;
    flex-wrap: wrap;
}

.becomne-an-instructor-img{
    width: 700px;
}

.becomne-an-instructor-img img{
    width: 100%;
}


.becomne-an-instructor-text{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 400px;
}

.becomne-an-instructor-text h2{
    font-weight: 599;
    font-size: 28px;
}

.becomne-an-instructor-text a{
    color: black;
    background-color: white;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.2s linear;
}

.becomne-an-instructor-text a:hover{
    background-color: rgba(255, 255, 255, 0.521);
}

/* becomne-an-instructor section end */

/* our blogs section styles start */

.our-blogs{
    background-color: whitesmoke;
    padding: 30px 0;
}

.our-blogs h1{
    padding-left: 20px;
}

.see-more-blog{
    text-align: center;
}

.see-more-blog a:hover{
    background-color: #5050fc9c;
}

.see-more-blog a{
    color: white;
    text-decoration: none;
    border: 2px solid black;
    background-color: #5050fc;
    border-radius: 20px;
    padding: 6px 30px;
    transition: all 0.2s linear;
}

.blogs-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

.blog{
    width: 280px;
    height: 250px;
    border: 2px solid black;
    margin-top: 20px;
    margin: 15px;
    transition: all 0.3s linear;
}

.blog:hover{
    transform: translateY(-10px);
}

.blog img{
    width: 100%;
    height: 160px;
}

.blog a{
    color: black;
    text-decoration: none;
}

.blog p{
    font-size: 18px;
    padding: 6px;
}

/* our blogs section end */

/* footer section styles start */

footer{
    background-color: #5050fc;
}

.footer-social-sec{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.social-links i{
    font-size: 30px;
    transition: all 0.3s linear;
    color: white;
}

.social-links i:hover{
    transform: translateY(-6px);
}

.social-links p{
    text-align: center;
    font-size: 14px;
    color: white;
}


.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links img{
    width: 300px;
    margin-right: 100px;
}

.footer-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 100px;
}

.footer-links div:nth-child(1){
    margin-right: 10px;
}

.footer-links div:nth-child(2){
    margin-left: 10px;
}

.footer-links div p a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    margin-top: 15px;
}

.footer-links div p a:hover{
    text-decoration: underline;
}

.copyright-sec{
    text-align: center;
    margin-top: 20px;
}

.copyright-sec small{
    font-size: 12px;
    color: white;
}

/* footer section styles end */