/* main section styles start */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-section{
    background-color: #5050fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.email-section i{
    font-size: 100px;
    animation: email-ani 1.5s ease-in infinite;
    text-decoration: underline #5050fc;
    color: white;
}

@keyframes email-ani{
    30%{
        transform: rotate(10deg);
    }

    60%{
        transform: rotate(-10deg);
    }

    90%{
        transform: rotate(0deg);
    }
}

.email-section .fill{
    width: 180%;
    height: 180%;
    background-color: #8e8ef8;
    position: absolute;
    transform: translateY(50%) translateX(-90%);
    border-radius: 0 180px 0 0;
    transition: all 0.5s linear;
    z-index: 1;
}

.email-section:hover .fill{
    top: 0;
    right: 0;
    transform: translateY(0) translateX(0);
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
}

main form input{
    width: 440px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s linear;
    color: black;
}

main form input:focus, main form textarea:focus{
    background-color: #6464ff;
    color: white;
    border: 2px solid blue;
}

main form input::placeholder{
    color: black;
}

main form input:focus::placeholder, main form textarea:focus::placeholder{
    color: white;
}

main form textarea{
    width: 500px;
    height: 300px;
    margin-top: 20px;
    border: 2px solid black;
    resize: vertical;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s linear;
    color: black;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

main form textarea::placeholder{
    color: black;
    transition: all 0.3s linear;
}

main form input[type=submit]{
    width: 200px;
    color: white;
    background-color: #5050fc;
    transition: all 0.1s linear;
    cursor: pointer;
}

main form input[type=submit]:hover{
    background-color: #8e8ef8;
}

/* main section styles end */

/* media query of contact section start */

@media only screen and (max-width:570px){
    main form textarea{
        width: 90%;
    }

    main form input{
        width: 70%;
    }
}

@media only screen and (max-width:400px){
    main form input, main form textarea{
        padding: 6px;
    }

    main form input[type=submit]{
        width: 40%;
    }
}

@media only screen and (max-width:320px){
    main form textarea{
        height: 240px;
        font-size: 14px;
    }

    main form input{
        font-size: 14px;
    }

    .contact-header{
        font-size: 25px;
    }
}

/* media query of contact section end */

/* media query of header section start */

@media only screen and (max-width:832px){
    header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .navbar{
        margin-top: 20px;
    }
}

/* media query of header section end */